body {
  margin: 0;
  padding: 0;
}

.header-top {
  z-index: 9999;
  margin-top: -50px;
  position: fixed;
  height: 80px;
  width: 100%;
}

.header-top-left {
  display: inline-block;
  width: 20%;
  margin-left: 20px;
}
.header-top-left .icon {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  color: red;
}
.header-top-left p {
  display: inline-block;
  width: 50%;
  font-size: 1.5rem;
}

.header-top-center {
  display: inline-block;
  width: 25%;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  border: 0.1rem solid;
  border-radius: 50px;
  margin-left: 50px;
}
.header-top-center i {
  width: 40px;
}
.header-top-center .search-bar {
  display: inline-block;
  text-align: center;
}
.header-top-center .search-bar .fa-search {
  background-color: #db50c4;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  padding: 10px;
  color: white;
  z-index: 9999;
}
.header-top-center .search-bar input {
  width: 300px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.header-top-right {
  display: inline-block;
  width: 40%;
  font-size: 1rem;
  gap: 5px;
  text-align: right;
  margin-left: 80px;
  border-left: 1px;
}
.header-top-right .lien-hote {
  display: inline;
  font-size: 1.2rem;
}
.header-top-right .lien-hote a:link {
  text-decoration: none;
  color: black;
}
.header-top-right .icon-globe {
  display: inline-block;
  width: 5%;
  padding-right: 2px;
}
.header-top-right .complet {
  padding-top: 2px;
  padding-bottom: 20px;
  padding-right: 40px;
  display: inline-block;
  width: 40px;
  height: 20px;
  border: 0.1rem solid;
  border-radius: 50px;
}
.header-top-right .complet a:link {
  text-decoration: none;
  color: grey;
}
.header-top-right .complet a:visited {
  color: grey;
}
.header-top-right .complet a:hover {
  color: grey;
}
.header-top-right .complet .icon-menu {
  display: inline-block;
  width: 5%;
}
.header-top-right .complet .icon-user {
  display: inline-block;
  width: 5%;
  margin-left: 20px;
  font-size: 1.9rem;
}

.container-home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-home .librairie {
  background-color: black;
  margin-top: 50px;
  height: 100vh;
}
.container-home .librairie .cinquiemeimage {
  text-align: center;
  height: 100vh;
}
.container-home .librairie .quatriemeimage {
  display: flex;
}
.container-home .librairie .quatriemeimage .dehors, .container-home .librairie .quatriemeimage .cuisine {
  flex: 2;
}
.container-home .librairie .quatriemeimage .dehors img, .container-home .librairie .quatriemeimage .cuisine img {
  border-radius: 50px;
}
.container-home .librairie .troisiemeimage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-home .librairie .troisiemeimage .paris, .container-home .librairie .troisiemeimage .nantes, .container-home .librairie .troisiemeimage .sables, .container-home .librairie .troisiemeimage .mans {
  flex: 1;
  margin-left: 30px;
}
.container-home .librairie .troisiemeimage .paris img, .container-home .librairie .troisiemeimage .nantes img, .container-home .librairie .troisiemeimage .sables img, .container-home .librairie .troisiemeimage .mans img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}
.container-home .premiereimage, .container-home .deuxiemeimage, .container-home footer {
  text-align: center;
  height: 100vh;
  background-color: white;
}
.container-home .premiereimage img, .container-home .deuxiemeimage img, .container-home footer img {
  margin-top: 20px;
  width: 1000px;
  height: 700px;
}
.container-home .container-text p {
  color: black;
  z-index: 9999;
}

.container-home .librairie .troisiemeimage {
  padding-top: 80px;
}
.container-home .cinquiemeimage {
  background-image: url(./image/sunrise-g2bf50010c_1920.jpg);
  position: relative;
  opacity: 0, 65;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 90%;
  margin-left: 200px;
  top: 10%;
  border-radius: 3%;
}
.container-home .premiereimage {
  background-image: url(./image/berre.jpg);
  position: relative;
  opacity: 0, 65;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 70%;
  margin-left: 200px;
  margin-bottom: 30px;
}
.container-home .deuxiemeimage {
  background-image: url(./image/christmas-background-g38d107628_1920.jpg);
  position: relative;
  opacity: 0, 65;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 70%;
  margin-left: 200px;
}
.container-home .quatriemeimage img {
  margin-left: 30px;
}
.container-home .cinquiemeimage {
  position: relative;
  opacity: 0, 65;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 70%;
  margin-left: 200px;
  margin-bottom: 30px;
}

.premiereimage {
  position: relative;
}
.premiereimage .texte {
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60%;
  color: white;
  width: 80%;
}
.premiereimage .bouton {
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  border-radius: 40px;
  left: 0;
  right: 0;
  top: 80%;
  color: purple;
  width: 25%;
  background-color: #efefef;
  margin-left: 420px;
}

.deuxiemeimage {
  position: relative;
}
.deuxiemeimage .texte {
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: right;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: black;
  width: 80%;
}
.deuxiemeimage .texte span {
  font-size: 1.5rem;
}
.deuxiemeimage .bouton {
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  border-radius: 40px;
  left: 68%;
  right: 0;
  top: 58%;
  color: white;
  width: 25%;
  background-color: black;
}

.troisiemeimage {
  position: relative;
}
.troisiemeimage .texte {
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: left;
  font-family: Georgia;
  margin: 0 auto;
  left: -17%;
  right: 0;
  top: 5%;
  color: black;
  width: 80%;
}

.quatriemeimage {
  position: relative;
}
.quatriemeimage .cuisine .texte {
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: right;
  font-family: Georgia;
  margin: 0 auto;
  left: 10%;
  right: 0;
  top: 2%;
  color: black;
  width: 80%;
}
.quatriemeimage .cuisine .bouton {
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  border-radius: 20px;
  left: 120px;
  right: 0;
  top: 25%;
  color: black;
  width: 18%;
  background-color: #f7efef;
}

.quatriemeimage {
  position: relative;
}
.quatriemeimage .dehors .texte {
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: left;
  font-family: Georgia;
  margin: 0 auto;
  left: -2%;
  right: 0;
  top: 2%;
  color: black;
  width: 80%;
}
.quatriemeimage .dehors .bouton {
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  border-radius: 20px;
  left: 84%;
  right: 0;
  top: 25%;
  color: black;
  width: 10%;
  background-color: #f7efef;
}

.cinquiemeimage {
  position: relative;
}
.cinquiemeimage .texte {
  font-size: 5rem;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  margin: 0 auto;
  left: 10%;
  right: 0;
  top: 7%;
  color: white;
  width: 80%;
}

/*# sourceMappingURL=style.css.map */
